body {
	color: black;
	font-family: Arial, sans-serif;
	font-size: 15px;
}

a {
	color #0000CC;
	text-decoration: none;
}

#Top {
	border-bottom: 1px solid silver; 
	padding: 5px; 
	background: rgb(238, 238, 238) none repeat scroll 0% 0%; 
	-moz-background-clip: -moz-initial; 
	-moz-background-origin: -moz-initial; 
	-moz-background-inline-policy: -moz-initial; 
	font-weight: bold; 
	text-align: center;
}

#Content {
	margin: auto;
	max-width: 925px;
	padding: 25px;
	position: relative;
}

#flash {
  color: #000;
  background: #fff;
}

#flash ul {
  list-style-type: none;
}

#flash .flash-error {
	background-color:#FEB8B8;
	border-color:#D74848;
}

#flash .flash-notice {
	background-color:#66EDFE;
	border-color:#66B3FE;
}

.flash-error, .flash-notice {
	border:1px solid;
	font-weight:bold;
	padding:8px;
}